<nav class="navigation-bar">
  <div class="container-fluid">
    <img src="assets/songname-logo-v1.png" class="logo-img"/>
    <div class="navbar-header">
      <header class="header">
        <h1 class="header">Songname</h1>
      </header>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li><a routerLink="/game/local/create">Local Game</a></li>
        <li><a routerLink="/authors">Songs and Authors</a></li>
        <li><a routerLink="/admin">Data administration</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="" role="button">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
