.player__form {
  display: grid;
  grid-template-columns: 120px 200px;
  grid-gap: 10px;
}

.player__form label {
  color: white;
}

.player__form input {
  color: white;
}

.start-button {
  height: 50px;
  width: 100%;
  color: white;
}

.start-div {
  padding-top: 5%;
}

.players-div {
  display: inline-block;
}

.config-div {
  display: inline-block;
  float: right;
  padding-left: 40px;
}

.center-div {
  display: flex;
  justify-content: center;
  padding-right: 40px;
}
